.centerContainer {
  height: 100%;
  // border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  flex: 1;
  padding-inline: 40px;

  .filenameContainer {
    // height: 100%;
    // border: 1px solid red;
    display: flex;
    align-items: center;

    .fileName {
      font-size: 14px;
      font-weight: 600;
      font-family: 'Poppins', sans-serif;
      text-transform: uppercase;
      letter-spacing: 5px;
    }
  }

  .btn {
    height: 25px;
    border: none;
    background-color: #29292f;
    color: #ffffff;
    padding: 0 10px;
    cursor: pointer;
    // border: 1px solid red;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
  }

  .runCodeBtn {
    background-color: #009118;

    .runCodeIcon {

    }

    .runCodeText {

    }
  }
}