.centerContainer {
  height: 100%;
  // border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;

  .fileName {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
}