.container {
  width: 100%;
  height: 100svh;
  // background-color: red;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  font-family: 'Poppins', sans-serif;

  .headerContainer {
    width: 100%;
    height: 40px;
    background-color: #1b1a1e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    // border: 1px solid #ffffff;
  }

  .codeEditorAndOutputContainer {
    width: 100%;
    height: calc(100% - 40px);
    display: flex;

    .codeEditorContainer {
      width: 50%;
      height: 100%;
      // border: 4px solid red;
      // display: flex;
      // flex: 1;
    }
  
    .resizerContainer {
      width: 20px;
      height: 20px;
      background-color: #1e1e1e;
      border-radius: 50%;
      position: absolute;
      right: 50%;
      bottom: 50%;
      transform: translate(50%, 50%);
      z-index: 1;
      cursor: col-resize;
      display: grid;
      place-content: center;
  
      .resizerIcon {
        color: rgb(255, 255, 255);
      }
    }
  
    .outputContainer {
      width: 50%;
      height: 100%;
      // border: 4px solid rgb(21, 255, 0);
      // display: flex;
      // flex: 1;
    }
  }

}